WpfBookingClient/WpfBookingClient/Connected Services/ServiceReferenceAirline/AirSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58386/AirSvc.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:58386/AirSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AirlineService.Models" />
  <xs:element name="GetFlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartureTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LandingTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberOfSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFlightsResult" nillable="true" type="q1:ArrayOfKeyValueOfstringArrayOfFlighto8ZdvojY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookAFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirlineService.Models" minOccurs="0" name="flight" nillable="true" type="q2:Flight" />
        <xs:element minOccurs="0" name="numberOfSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookAFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AirlineService.Models" minOccurs="0" name="BookAFlightResult" nillable="true" type="q3:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartureTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LandingTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberOfSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AirlineService.Models" minOccurs="0" name="GetAllFlightResult" nillable="true" type="q4:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>