WpfBookingClient/WpfBookingClient/Connected Services/ServiceReferenceAirline/AirSvc3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirlineService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirlineService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="tns:Airline" />
      <xs:element minOccurs="0" name="DepartureTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="tns:City" />
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="tns:City" />
      <xs:element minOccurs="0" name="ReservedSeats" type="xs:int" />
      <xs:element minOccurs="0" name="TotalSeats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="Airline">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Airline" nillable="true" type="tns:Airline" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element name="CityID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
</xs:schema>